/* Reset*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General*/

body{
    font-family: "Open Sans", open-sans;
}

a{
    text-decoration: none;
}

.button-default{
    background-color:#0061FE;
    padding: 8px 20px;
    color: white;
}

.mw-large-default{
    max-width: 880px;
    margin: 0 auto;
}


.mw-default{
    max-width: 730px;
    margin: 0 auto;
}


/* Header*/
.header-margin-r{
    margin-right: 30px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    padding: 0 15px;
}

.header-flex nav {
    display: flex;
    align-items: center;
}


.header-links{
    color: #333;
    padding: 20px 0;
    border-bottom: 1px solid transparent
}

.links-border:hover{
    border-bottom: 1px solid black;
}

/* Main*/


/* Main: Jumbo*/


.jumbotron-container{
    background-color: #B4D0E6;
}

h1{
    font-size: 64px;
    padding-top: 70px;
}

.jumbotron-container > div{
    display: flex;
    justify-content: space-between;
    align-items: top;

    position: relative;
    top: 70px;
}

.jumbo-flex-item-l p{
    margin-bottom: 25px;
}

.jumbo-flex-item-l strong{
    font-size: 48px;
}

.jumbo-m-default {
    margin-top: 25px;
}

.jumbo-flex-item-r img{
    max-width: 145%;
}

/* Main: Business Section*/
.business-section h2{
    margin-top: 130px;
}

.business-section >p {
    margin-top: 50px;
}

.circle{
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #D4D3D8;
    height: 15px;
    width: 15px;
    margin-right: 2px;
}

.active{
    border: 4px solid #0062FE;
}

.business-offers-flexbox{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}

.offer-card {
    max-width: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    margin-top: 30px;
}

.center-flex-item{
    align-self: center;
    padding: 10px 0;
}

.business-flex-item {
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 15px;
    margin-bottom: 30px;
}

.mp-flexitem-default{
    margin: 15px 0;
}


.business-flex-item .flex-text {
    display: flex;
    align-items: start;
    font-size: 12px;
}

.business-flex-item .button-default{
    font-size: 11px;
    text-align: center;
    padding: 8px 30px;
}

.business-flex-item i {
    margin-right: 5px;
    padding-top: 2px;
}

.hr-default{
    max-width: 35px;
    color: #E0DFE3;
}

.gray-text{
    color: #CFD8EB;
}

.text-blue{
    color: blue;
}

.link-for-shop{
    color: blue;
    text-decoration: underline;
}

/* Footer*/

footer{
    background-color: black;
    color: white;
}

.footer-flexbox {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.footer-flexbox a{
    color: white;
    font-size: 13px;
}

.footer-flexbox div {
    width: calc(20% -70px);
}

.footer-flexbox h3{
    margin-bottom: 25px;
}

.footer-flexbox ul{
    list-style: none;
}

.footer-flexbox li{
    margin-bottom: 15px;
}

.menu-language hr{
    max-width: 90px;
}

.menu-language p{
    padding: 35px 0;
    color: #909898;
}